//== Colors

$body-bg:                 		#fff;
$text-color:              		#707070;

$brand-primary:					#ffe600;
$brand-success:         		#5cb85c !default;
$brand-info:            		#5bc0de !default;
$brand-warning:         		#f0ad4e !default;
$brand-danger:          		#d9534f !default;


//## custom colors
$darkest-blue:			darken(desaturate(adjust-hue(#131a1d, 42.0000), 13.5163), 1.3725); //#131316;
$darker-blue:			lighten(saturate(adjust-hue(#131316, -35.0000), 17.6829), 1.3725); //#12191e
$blue-base:				#131a1d;
$blue-light:			lighten(saturate(adjust-hue(#131a1d, -7.6552), 23.7821), 3.3333); // #122a2f;
$blue-lighter:			lighten(saturate(adjust-hue(#131a1d, -9.2195), 33.8333), 5.2941); // #11343a;
$blue-lightest:			lighten(desaturate(adjust-hue(#131a1d, -21.7500), 8.5256), 16.0784);// #394948;

$white:					#ffffff;
$gray-lightest:         darken(saturate(adjust-hue(#ffffff, 0.0000), 0.0000), 1.5686); //#fbfbfb;
$gray-lighter:          darken(saturate(adjust-hue(#ffffff, 0.0000), 0.0000), 56.0784) !default; // #707070
$gray-light:            darken(saturate(adjust-hue(#ffffff, 0.0000), 0.0000), 68.2353) !default; // #515151

$link-color:              		#fff;
$link-hover-color:        		$brand-primary;

$link-hover-decoration:			underline;


//Types

$font-family-base:        	'Oswald-Light', Helvetica, Arial, sans-serif !default;
//----------------------------------------------
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  	'Oswald-Light', Helvetica, Arial, sans-serif !default;
$font-family-serif:       	Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   	Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        	$font-family-sans-serif !default;

$font-size-base:          	16px !default;
$font-size-large:         	ceil(($font-size-base * 1.25)); // 20px
$font-size-small:         	ceil(($font-size-base * 0.935)); //15px
$font-size-icons-lg:		ceil(($font-size-base * 2.75)); //44px
$font-size-icons-md:		ceil(($font-size-base * 2.125)); //34px
$font-size-icons-sm:		ceil(($font-size-base * 1.25)); //20px
$font-size-icons-xs:		ceil(($font-size-base * 0.625)); //10px


$font-size-h1:            	floor(($font-size-base * 4.06)); // 65px
$font-size-h2:            	floor(($font-size-base * 1.87)); // 30px
$font-size-h3:            	ceil(($font-size-base * 1.25)); // 20px
$font-size-h4:            	$font-size-base !default;
$font-size-h5:            	$font-size-base !default;
$font-size-h6:            	$font-size-base !default;
$font-size-countup:			ceil(($font-size-base * 2.5)); // 40

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        	1.42 !default; // 
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    	floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    	inherit !default;
$headings-font-weight:    	inherit !default;
$headings-line-height:    	1.1 !default;
$headings-color:          	inherit !default;


//tabs
$tabs-color:                      #515151;
$tabs-color-active:               #ffe600;
$tab-btn-border:                  transparent;
$tab-btn-background:              #ffe600;
$tab-btn-color:                   #ffffff;

$tabs-h3-font-size:               25px;
$tabs-h3-color:                   #515151;


//== Tabs
$nav-tabs-border-color:                     		#ddd !default;

$nav-tabs-link-hover-border-color:          		$gray-lighter !default;

$nav-tabs-active-link-hover-bg:             		$body-bg !default;
$nav-tabs-active-link-hover-color:          		#ccc !default;
$nav-tabs-active-link-hover-border-color:   		#ddd !default;

$nav-tabs-justified-link-border-color:            	#ddd !default;
$nav-tabs-justified-active-link-border-color:     	$body-bg !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             					#3c763d !default;
$state-success-bg:               					#dff0d8 !default;
$state-success-border:           					darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                					#31708f !default;
$state-info-bg:                  					#d9edf7 !default;
$state-info-border:              					darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             					#8a6d3b !default;
$state-warning-bg:               					#fcf8e3 !default;
$state-warning-border:           					darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              					#a94442 !default;
$state-danger-bg:                					#f2dede !default;
$state-danger-border:            					darken(adjust-hue($state-danger-bg, -10), 5%) !default;


//== Thumbnails

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            #ddd !default;
//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default;


//== Carousel

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;


/*  Media queries breakpoints
	Define the breakpoints at which your layout will change, adapting to different screen sizes. */

// Extra small screen / phone
$screen-xs:                  	480px;
$screen-xs-min:              	$screen-xs;
// Small screen / tablet
$screen-sm:                  	768px;
$screen-sm-min:              	$screen-sm;
// Medium screen / desktop
$screen-md:                  	992px;
$screen-md-min:              	$screen-md;
// Large screen / wide desktop
$screen-lg:                  	1200px;
$screen-lg-min:              	$screen-lg;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              	($screen-sm-min - 1);
$screen-sm-max:              	($screen-md-min - 1);
$screen-md-max:              	($screen-lg-min - 1);


//== Grid system

$grid-columns:              	12;
$grid-gutter-width:         	30px;
/*  Point at which the navbar becomes uncollapsed. */
$grid-float-breakpoint:     	$screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: 	($grid-float-breakpoint - 1);


//== Container sizes

// Small screen / tablet
$container-sm:             		(720px + $grid-gutter-width);
// Medium screen / desktop
$container-md:            		(940px + $grid-gutter-width);
// Large screen / wide desktop
$container-lg:      			(1140px + $grid-gutter-width);












//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;





$color-inverse:                  $brand-primary;
$background-inverse:             #11343a;
$border-inverse:                 #11343a;








// Allows for customizing button radius independently from global border radius

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;





$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;