
.form-control {
	border-radius: 2px;
	background-color: transparent;
	border: 1px solid $white;
	display: block;
	margin: 15px 0;
	padding: 5px 10px;
	width: 100%;
	color: #fff;
	&:hover,
	&:focus,
	&:active {
		outline: none;
		background-color: rgba(#fff,.05);
		&::-webkit-input-placeholder {opacity: 0;}
		&::-moz-placeholder          {opacity: 0;} 	/* Firefox 19+ */
		&:-moz-placeholder           {opacity: 0;} 	/* Firefox 18- */
		&:-ms-input-placeholder      {opacity: 0;}
	}
	&::-webkit-input-placeholder {
		font-size: 15px;
		color: #fff;
	}
	&::-moz-placeholder          {
		font-size: 15px;
		color: #fff;
		}
	&:-moz-placeholder           {
		font-size: 15px;
		color: #fff;
		}
	&:-ms-input-placeholder      {
		font-size: 15px;
		color: #fff;
	}
}
textarea.form-control {
	height: auto;
	resize: vertical;
	min-height: 240px;
}
.form-center {
	text-align: center;
}