<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>forms</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body>
	<form action="#">
		<form action="" class="form">
			<div class="form-inline">
				<input type="text" class="form-control" placeholder="Ваше имя">
				<input type="email" class="form-control" placeholder="Email">
				<input type="text" class="form-control" placeholder="Субьект">
			</div>
			<textarea class="form-control textarea-control" placeholder="Введите сообщение..."></textarea>
			<div class="form-center"><input type="submit" class="btn btn-primary btn-lg" value="Отправить"></div>
		</form>
	</form>
</body>
</html>