<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>forms</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body>
<div class="inverse-bg">
	<div class="container">
		<div class="row">
			<form action="#">
				<form action="" class="form">
					<div class="form-inline">
						<input type="text" class="form-control" placeholder="Your Name">
						<input type="email" class="form-control" placeholder="Your Mail">
						<input type="text" class="form-control" placeholder="Subject">
					</div>
					<textarea class="form-control textarea-control" placeholder="Enter Message Here..."></textarea>
					<div class="form-center"><input type="submit" class="btn btn-primary btn-lg" value="SEND MESSAGE"></div>
				</form>
			</form>
		</div>
	</div>
</div>
</body>
</html>