.content-wrapper{
  padding: 45px 0;
  position: relative;
}

.row{
	padding: 1em 0;
}

.inverse-bg {
  background: $darkest-blue;
}

.gray-bg {
  background: $gray-lightest;
}

.dark-bg {
  background: $darker-blue;
}

.heading-content {
	background-color: $blue-light;
	text-align: center;
	padding: 5% 0;
}

	.affix-btn{
		position: absolute;
		left: 50%;
		@include translate(-50%, 0)
	}

	.wrapper-vh,footer{
		.affix-btn{
			bottom: 0;
		}

	}

	.affix-hldr{
		.affix-btn{
			top: 0%;
		}

	}


.wrapper-vh {
	height: 100vh;
	position: relative;
}
.wrapper-bg {
	background: $blue-lighter url(../images/content/banner.jpg) no-repeat 0 0 / cover;
}
.heading-content {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
	img{
		display: block;
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	}
}