.content-wrapper{
  padding: 45px 0;
}

.row{
	padding: 1em 0;
}

.inverse-bg {
  background: $darkest-blue;
}

.gray-bg {
  background: $gray-lightest;
}

.dark-bg {
  background: $darker-blue;
}

.heading-wrapper {
	// background-color: $blue-lighter;
	position: relative;
	z-index: 1;
	.square-bg {
		position: absolute;
		bottom: 0;
		left: 50%;
		@include translate(-50%, 0)
	}
	.banner-holder{
		width: 100%;

		img{
			display: block;
		    max-width: 100%;
		    width: 100%;
		    height: auto;
		}
	}
}
.heading-content {
	background-color: $blue-light;
	text-align: center;
	padding: 5% 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 30%;
	bottom: 30%;
	left: 0%;
}
