.content-wrapper{
  padding: 45px 0;
}

.row{
	padding: 1em 0;
}

.inverse-bg {
  background: $darkest-blue;
}

.gray-bg {
  background: $gray-lightest;
}

.dark-bg {
  background: $darker-blue;
}

.heading-wrapper {
	background-color: $blue-lighter;
	padding: 290px 0;
	position: relative;
	.square-bg {
		position: absolute;
		bottom: 0;
		left: 50%;
		@include translate(-50%, 0)
	}
}
.heading-content {
	background-color: $blue-light;
	text-align: center;
	padding: 60px 0;
}