<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>countUp</title>
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body style="background-color: #122a2f">
	<div class="countup-content">
		<div class="container">
			<div class="row">
					<!-- <span class=".integers">12345</span> -->
					<!-- <span class=".floats">123.45</span> -->
					<!-- <span class=".numbers-with-commas">12,345.00</span> -->
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">1600</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">3200</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">40</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">20000</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="countup-center">
					<div class="countup-circle">
						<span class="countup-circle-data"></span>
					</div>
					<span class="countup-circle-caption">HTML&amp;CSS</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="countup-center">
					<div class="countup-circle-01">
						<span class="countup-circle-01-data"></span>
					</div>
					<span class="countup-circle-caption">AI &amp; PS</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="countup-center">
					<div class="countup-circle-02">
						<span class="countup-circle-02-data"></span>
					</div>
					<span class="countup-circle-caption">JS &amp; PHP</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="countup-center">
					<div class="countup-circle-03">
						<span class="countup-circle-03-data"></span>
					</div>
					<span class="countup-circle-caption">PHOTOGRAPHY</span>
				</div>
			</div>
		</div>
	</div>
	

	<script src="../../../js/jquery-1.11.3.min.js"></script>
	<script src="../../../js/circle-progress.js"></script>
	<script src="../../../js/countup/jquery.counterup.min.js"></script>
	<script src="../../../js/countup/jquery.waypoints.min.js"></script>
	<script src="../../../js/custom.js"></script>

</body>
</html>