<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>countUp</title>
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body>
	<div class="countup-content">
		<div class="container">
			<div class="row">
					<!-- <span class=".integers">12345</span> -->
					<!-- <span class=".floats">123.45</span> -->
					<!-- <span class=".numbers-with-commas">12,345.00</span> -->
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">1600</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">3200</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">40</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="countup-item">
						<span class="countup-quantity">20000</span>
						<span class="countup-caption">HAPPY CLIENTS</span>
					</div>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>


	<script src="../../../js/jquery-1.11.3.min.js"></script>
	<script src="../../../js/countup/jquery.counterup.min.js"></script>
	<script src="../../../js/countup/jquery.waypoints.min.js"></script>
	<script src="../../../js/custom.js"></script>

</body>
</html>