<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body>
	<div class="quot-slider">
		<div class="container">
			<div class="owl-carousel owl-carousel-text">
				<div>
					<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
							remembered picture. It is a studiously crafted personality profile of an
							individual, institution,corporation, product or service”</p>
					<p class="name">
						Daniel J. Boorstin
					</p>
				</div>
				<div>
					<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
							remembered picture. It is a studiously crafted personality profile of an
							individual, institution,corporation, product or service”</p>
					<p class="name">
						Daniel J. Boorstin
					</p>
				</div>
				<div>
					<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
							remembered picture. It is a studiously crafted personality profile of an
							individual, institution,corporation, product or service”</p>
					<p class="name">
						Daniel J. Boorstin
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../../js/jquery-1.11.3.min.js"></script>
<script src="../../../js/owl/owl.carousel.js"></script>
<script src="../../../js/owl/owl.navigation.js"></script>
<script src="../../../js/main.js"></script>
</body>
</html>