<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../../css/all.css">
</head>
<body>
	<div class="quot-slider">
		<div class="container">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
							remembered picture. It is a studiously crafted personality profile of an
							individual, institution,corporation, product or service”</p>
							<p class="name">Daniel J. Boorstin</p>
						</div>
						<div class="item">
							<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
								remembered picture. It is a studiously crafted personality profile of an
								individual, institution,corporation, product or service”</p>
								<p class="name">Daniel J. Boorstin</p>
							</div>
							<div class="item">
								<p class="quot">“An image is not simply a trademark, a design, a slogan or an easily 
									remembered picture. It is a studiously crafted personality profile of an
									individual, institution,corporation, product or service”</p>
									<p class="name">Daniel J. Boorstin</p>
								</div>
							</div>

							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<script src="../../../js/jquery-1.11.3.min.js"></script>
			<script src="../../../js/carousel.js"></script>
			<script src="../../../js/main.js"></script>
		</body>
		</html>