// base nav
$nav-link-padding:      5px 10px;
$nav-link-hover-bg:     transparent;


.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  padding-top: 15px;
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      text-transform: uppercase;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    text-align: center;
  }
  /* Prevent IE8 from misplacing imgs */
  /* See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989 */
  > li > a > img {
    max-width: none;
  }
}