<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SMAK</title>
	<link rel="stylesheet" href="../../../css/all.css">
	<meta name="viewport" content="width=device-width, maximum-scale=1"/>
</head>
<body>

<button class="btn btn-xl btn-base">buy this theme</button>

<button class="btn btn-xl btn-inverse btn-capital"><a href="#">View Live</a></button>

<button class="btn btn-md btn-inverse"><a href="#">CONTACT US</a></button>

<button class="btn btn-md btn-base"><a href="#">SEND MESSAGE</a></button>

</body>
</html>