@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/oswald/Oswald-Bold.eot') format('embedded-opentype'),  url('../fonts/oswald/Oswald-Bold.woff') format('woff'), url('../fonts/oswald/Oswald-Bold.ttf')  format('truetype'), url('../fonts/oswald/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/oswald/Oswald-Regular.eot') format('embedded-opentype'),  url('../fonts/oswald/Oswald-Regular.woff') format('woff'), url('../fonts/oswald/Oswald-Regular.ttf')  format('truetype'), url('../fonts/oswald/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/oswald/Oswald-Light.eot') format('embedded-opentype'),  url('../fonts/oswald/Oswald-Light.woff') format('woff'), url('../fonts/oswald/Oswald-Light.ttf')  format('truetype'), url('../fonts/oswald/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

//basic texy styles
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: 'oswald-bold';
    text-align: center;
    line-height: $headings-line-height;
    line-height: $headings-line-height;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
}

h1, .h1{
  font-size: $font-size-h1;
}

h2, .h2{
  font-size: $font-size-h2;

}


h3, .h3{
  font-size: $font-size-h3;
}

h4, .h4{
  font-size: $font-size-h4;
  font-family: 'oswald-regular';
}
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;

}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}
// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-base/ 2);
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}

p,a{
  font-size: $font-size-base;
  font-family: 'oswald-light'; 
  color: inherit;

}

a:hover,p:hover{
  text-decoration: none;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }
.text-bold{
  font-family: 'oswald-bold';
}
//text color classes
.text-base{
  color: $darkest-blue;
}

.text-inverse{
  color: $white;
}

.text-highlited{
  color: $brand-primary;
}
//test class, do not use
.text-holder-dark{
  background: $darkest-blue;

}

hr.heading{
    text-align: center;
    background: $brand-primary;
    height: 3px;
    width: 171px;
    border: none;
}
