<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SMAK</title>
	<link rel="stylesheet" href="../../../css/all.css">
	<meta name="viewport" content="width=device-width, maximum-scale=1"/>
</head>
<body>

	<!--BASIC STYLES-->
<h1 class="text-base">WHAT WE LOVE TO DO</h1>
<h2 class="text-base">WHAT WE LOVE TO DO</h2>

<h4 class="text-base">OUR SERVICES</h4>
<h3 class="text-base">OUR SERVICES</h3>
<hr>

<div class="text-holder-dark">
	<!--WHITE-->
	<h1 class="text-inverse">
		BRANDING HAVE ANOTHER DEFINITION
	</h1>

	<h2 class="text-inverse">
		BRANDING HAVE ANOTHER DEFINITION
	</h2>

	<h3 class="text-inverse">
		BRANDING HAVE ANOTHER DEFINITION
	</h3>

	<h4 class="text-inverse">
		BRANDING HAVE ANOTHER DEFINITION
	</h4>
	<!--YELLOW-->
		<h1 class="text-highlited">
		BRANDING HAVE ANOTHER DEFINITION
	</h1>

	<h2 class="text-highlited">
		BRANDING HAVE ANOTHER DEFINITION
	</h2>

	<h3 class="text-highlited">
		BRANDING HAVE ANOTHER DEFINITION
	</h3>

	<h4 class="text-highlited">
		BRANDING HAVE ANOTHER DEFINITION
	</h4>



</div>


</body>
</html>