<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SMAK</title>
	<link rel="stylesheet" href="../../../css/all.css">
	<meta name="viewport" content="width=device-width, maximum-scale=1"/>
</head>
<body>
	<div class="icon">
		<span class="icon-analyse"></span>
		<span class="icon-arrow-down"></span>
		<span class="icon-arrows"></span>
		<span class="icon-clock slim"></span>
		<span class="icon-developing"></span>
		<span class="icon-dribble"></span>
		<span class="icon-facebook slim"></span>
		<span class="icon-finalasy"></span>
		<span class="icon-float"></span>
		<span class="icon-google"></span>
		<span class="icon-graphic-design"></span>
		<span class="icon-house"></span>
		<span class="icon-icon"></span>
		<span class="icon-left-arrow"></span>
		<span class="icon-like"></span>
		<span class="icon-mail"></span>
		<span class="icon-messege"></span>
		<span class="icon-phone"></span>
		<span class="icon-photo"></span>
		<span class="icon-prep"></span>
		<span class="icon-right-arrow"></span>
		<span class="icon-testing"></span>
		<span class="icon-twitter"></span>
		<span class="icon-wed-design"></span>
		<span class="icon-work"></span>
	</div>


<!--ICONS PRIMARY-->
	<div class="icon icon-primary filled">
		<span class="icon-wed-design"></span>
	</div>
	<div class="icon icon-primary filled">
		<span class="icon-graphic-design"></span>
	</div>
	<div class="icon icon-primary filled">
		<span class="icon-photo"></span>
	</div>
	<div class="icon icon-primary filled">
		<span class="icon-developing"></span>
	</div>


<!--ICONS secondary simple -->
	<div class="icon icon-secondary simple">
		<span class="icon-analyse"></span>
	</div>

	<div class="icon icon-secondary simple">
		<span class="icon-prep"></span>
	</div>

	<div class="icon icon-secondary simple">
		<span class="icon-work"></span>
	</div>

	<div class="icon icon-secondary simple">
		<span class="icon-finalasy"></span>
	</div>

	<div class="icon icon-secondary simple">
		<span class="icon-testing"></span>
	</div>

	<div class="icon icon-secondary simple">
		<span class="icon-icon"></span>
	</div>

	<!--ICONS base filled-->
	<div class="icon icon-base filled">
		<span class="icon-clock slim"></span>
	</div>
	<div class="icon icon-base filled">
		<span class="icon-like"></span>
	</div>
	<div class="icon icon-base filled">
		<span class="icon-float"></span>
	</div>
	<div class="icon icon-base filled">
		<span class="icon-messege"></span>
	</div>

<!--ICONS arrows -->
	<div class="icon icon-base icon-bg square-bg filled">
		<span class="icon-arrow-down"></span>
	</div>

	<div class="icon icon-base icon-bg square-bg filled">
		<span class="icon-arrows"></span>
	</div>


	<div class="icon icon-small icon-bg square-bg filled">
		<span class="icon-right-arrow"></span>
	</div>
	<div class="icon icon-small icon-bg square-bg filled">
		<span class="icon-left-arrow"></span>
	</div>


<!--"icon-holder" for better visibility - do noy include in main html-->
<!--ICONS SOCIAL NO BORDER -->
<div class="icon-holder">
	<div class="icon icon-small social simple">
		<span class="icon-twitter"></span>
	</div>

	<div class="icon icon-small social simple">
		<span class="icon-dribble"></span>
	</div>

	<div class="icon icon-small social simple">
		<span class="icon-google"></span>
	</div>

	<div class="icon icon-small social simple">
		<span class="icon-facebook slim"></span>
	</div>
</div>
<!--ICONS SOCIAL BORDERED -->
<div class="icon-holder">
	<div class="icon icon-small social square-bg bordered">
		<span class="icon-facebook slim"></span>
	</div>

	<div class="icon icon-small social square-bg bordered">
		<span class="icon-twitter"></span>
	</div>
</div>
</body>
</html>